@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
}
header{
    margin: auto;
    max-width: 380px;
    text-align: center;
    background: black;
    color: #ffffff;
    padding: 5px;
}

.col{
    background-color: #ffffff;
    min-height: 550px;
    /* border-radius: 20px; */
    /* box-shadow: 5px 6px 20px rgba(51, 51, 51, 0.3); */
}
.col, .row{
    max-width: 375px;
    margin: auto;
}
.row{
    /* background-color: #0561de; */
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 0 5px;
}
.row ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row ul li a{
    color: slategrey;
    font-size: 10px;
    font-weight: bold;
}
.row ul li:nth-child(3) a{
    color: #0561de;
}
.row ul li a i{
    font-size: 20px;
}
.col-1{
    position: relative;
    background: linear-gradient(to bottom, white, black);
    min-height: 35vh;
    /* padding: 1rem 2rem 0px; */
    /* padding: 1rem 2rem 0px; */
}
.col-1::before{
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, white, black);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
    
}
.col .rowtex{
    margin: auto;
    position: relative;
    background-image: url(tobbb.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
    padding-top: 10rem;
    color: #ffffff;
}
.row ul li a i.bxs-purchase-tag-alt{
    transform: rotate(90deg);
}
.col .backcolor{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    z-index: 99;
    font-size: 14px;
    padding: 5px;
}
.col .backcolor p img{
    width: 3.5%;
}
.col .backcolor p:nth-child(3){
    font-size: 12px;
    width: 100%;
}
@media(max-width: 490px){
    .row{
        padding: 0 20px;
    }
    .col .rowtex{
        width: 100%;
        /* background-image: none; */
    }
}